<div class="question_box">
  <fieldset>
    <legend>Question</legend>
    <% session[:question_id] = @question.id %>
    <div class="votes">
      <%= button_to "▲", question_votes_path(@question.id) if  current_user %>
      <%= @question.total_votes %><%= button_to "▼", question_vote_path( @question.id), :method => :delete if current_user %>
    </div>
    <div class="single_question">
      <a class="title"><%= @question.title %></a><br>
      <a class="content"><%= @question.content %></a>
    </div>
  </fieldset>
</div>
<br>
<% if current_user %>
  <fieldset>
    <legend><h3><a href="#" class="submit_answer_toggle">Submit Answer</a></h3></legend>
    <div class="submit_answer">
      <%= form_for :answer, url: answers_path do |answer| %>
        <%= answer.text_area :content, size: "50x10" %><br>
        <%= answer.hidden_field( :question_id, :value => @question.id) %>
        <%= answer.submit "Submit answer" %>
      <% end %>
    </div>
  </fieldset>
<% end %>
<br>
  <fieldset>
    <legend><h3><a href="#" class="answers_toggle">Answers</a></h3></legend>
    <div class="all_answers">

    <% @answers.each do |answer| %>
       <div class="votes">
         <%= button_to "▲", answer_votes_path(answer.id) if current_user %>
         <%= answer.total_votes %><%= button_to "▼", answer_vote_path(answer.id), :method => :delete if current_user %>
       </div>
       <div class="answer"><%= simple_format answer.content %><br><span class="author">Answered: <%= answer.created_at.strftime("%b %e, %Y at %r") %> by <%= answer.author %></span></div>
       <br>
    <% end %>
  </fieldset>

</div>

