<!DOCTYPE html>
<html>
<head>
  <title>Rabbit Overflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
  <nav>
    <% if current_user %>
      <%= button_to "Log out", session_path(current_user.id), method: :delete %>
    <% else %>
      <span>
        <%= button_to "Sign-up", new_user_path, method: :get %>
        <%= button_to "Login", new_session_path, method: :get %>
      </span>
    <% end %>
      <%= button_to "Home", root_path %>
  </nav>
    <%= yield %>
  </div>
</body>
</html>
